<!DOCTYPE html> 
<html>
<style>
</style>
<head>
    <title>Routy McRouterson Settings</title>
</head>
<body>
    <center>
        <form>
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input name="name" value="Routy1"></td>
                </tr>
                <tr>
                    <td>LAN:</td>
                    <td><input name="lan" value="255.5.5.5"></td>
                </tr>
            </table>
        </form>        
    </center>
</body>
</html>
