<!DOCTYPE html> 
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <style>
        body {
            font-family: 'Press Start 2P', cursive;
        }
    </style>
    <title>Routy McRouterson Settings</title>
</head>
<body>
 <script>
 function validateIPAddress(ipaddress) {
    if  (/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/.test(ipaddress)) {
        return true;
    }
    else {
        return false;
    }
}


function validateForm() {
    var formData = document.forms["settings"];
    if (validateIPAddress(formData["lan"].value)) {
        return true;
    } else {
        alert("LAN must be an IP address!");
        return false;
    }
}
</script>
   <br><br><br>
    <center>
        <h1>Routy McRouterson Settings</h1>
        <br>
        <form name="settings" method="post" onsubmit="return validateForm()">
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input name="name" value="Routy1"></td>
                </tr>
                <tr>
                    <td>LAN:</td>
                    <td><input name="lan" id=lan" value="{{ lan }}"></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Update Settings"></td>
                </tr>
            </table>
        </form>     
        <br><br><br>   
        {% if message %}
            <p> {{ message }} </p>
        {% endif %}
         <!--   <form name="logout">
            <input type="submit" value="Log Out">
        </form> -->
    </center>
</body>
</html>
